In [10]:
import pandas as pd
import matplotlib as plt

In [3]:
bed_columns = ['chr','start','end']
bed_columns

['chr', 'start', 'end']

In [4]:
df_k4 = pd.read_table("../../qbb2020/data/K4me3.bed", names=bed_columns)
df_k4

     chr     start       end
0     3L  15823270  15830715
1     2R  11451787  11459612
2     3R  21665759  21673392
3     2R  20324929  20331038
4     3R  19859679  19864278
...   ..       ...       ...
3825  3R    565835    566082
3826  2L  10439373  10442085
3827  3R   4477321   4479529
3828  3L    711347    711871
3829  2L   6792695   6795077

[3830 rows x 3 columns]

In [9]:
df_k4.shape
#this means its two dimentions, first is rows, second is columns
df_k4.loc[:,'width'] = df_k4.loc[:,'end'] - df_k4.loc[:,'start']

In [11]:
fig, ax = plt.subplots()
ax.hist( df_k4.loc[:,'width'])
plt.show()

AttributeError: module 'matplotlib' has no attribute 'subplots'